<!-- Begin Refcourses List-->
<section id="refcourses" class="refcourses">
    <div class="content-wrapper">
        <div class="col-md-10 col-md-offset-1">
            <h4>{{ site.refcoursesTitle }}</h4>
            <div class="row refcourses-details">
                {% assign animationDelay = 0 %}
                {% for refcourse in site.data.refcourses %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-12">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ refcourse.title }}</h5>
                        <ul>
                            {% for cont in refcourse.content %}
                            <li><a href="{{ cont.url }}">{{ cont.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Refcourses List -->