.about-description {
    p {
        font-size: 1.3em;
        line-height: 1.5em;
        text-align: justify;
        text-indent: 1em;

        @media (max-width: $screen-xs-max) {
            font-size: 1.2em;
        }
    }
}

.about-details {
    img {
        width: 128px;
    }
    p {
        margin-top: 10px;
    }
}
