.top-section-hero {
    width: 100%;
    height: 100%;
    padding-top: 0;
    .jumbotron {
        position: relative;
        top: 50%;
        margin: 0;
        left: 0;
        transform: translateY(-60%);
        @media (max-width: 767px) {
            margin: 0;
            padding: 0;
        }
        h1, p {
            text-shadow: 0 0 0.1em #000;
        }
        .logo-dans {
            display: inline-block;
            padding: .2em .4em;
            margin-bottom: .2em;
            text-shadow: 0 0 0.1em #000;
            border: 3px solid #fff;
            box-shadow: inset 0 0 0.1em #000, 0 0 0.1em #000;
            strong {
                display: block;
                font-size: 5rem;
                margin-bottom: .1em;
                letter-spacing: 6px;
                font-weight: $extra-bold;
                line-height: 1em;
            }
            small {
                display: block;
                color: #fff;
                font-size: 1rem;
                font-weight: $regular;
                line-height: 1.3em;
            }
        }
        .hero-title {
            font-size: .7em;
            font-weight: 500;
            line-height: 1.3em;
            @media (max-width: 767px) {
                margin: 1rem 0;
            }
        }
        p {
            margin-bottom: 15px;
            font-size: $base-font-size * 2;
            font-weight: $light;
            line-height: 1.5em;
        }
        .btn {
            margin: 0 3px;
        }
    }
}
.typeout-fallback {
    display: none;
    @media (max-width: 767px) {
        display: inline-block;
    }
}
.explore {
    margin-left: -16px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    animation: callToAction 3.5s linear 0s infinite;
    @media (max-width: 767px) {
        margin-left: -12.5px;
        bottom: 30px;
        animation: none;
    }
}
.icon-arrow-down {
    width: 32px;
    height: 32px;
    fill: #e6e6e6;
    @media (max-width: 767px) {
        width: 24px;
        height: 24px;
    }
}
@keyframes callToAction {
    0% {
        opacity: 0;
        transform: translateY(-16px);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        opacity: 0;
        transform: translateY(-16px);
    }
    100% {
        opacity: 0;
        transform: translateY(-16px);
    }
}
